{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Customer Authorization API",
    "contact": { "email": "vs4plus@vantagescore.com" },
    "description": "\n# Introduction\nCustomer Authorization API The Customer Authorization API is the web service that allows you to exchange your application's `Client ID` and `Client Secret` for an `Access Token`.\nYou will need to use the `accessToken` as authentication for all the other web requests, in the form of a HTTP Header as it follows:\n``` Authorization: Bearer {accessToken} ```\n\n\nData API The Data API is the web service that allows you to obtain three kinds of data related to your users:\n\n  - Bank Account data\n  - Bank Transactions data\n  - Credit Score (VS 4.0) data\n  - Credit Report (VS 4.0) data\n"
  },
  "servers": [
    { "url": "https://vs4plus-api.vantagescore.com" },
    { "url": "https://vs4plus-api.vantagescore.com/v1" }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "Generate an access token using the client's application credentials.",
      "x-displayName": "Authorization"
    },
    { "name": "Data API", "x-displayName": "Data API" }
  ],
  "paths": {
    "/authorize": {
      "post": {
        "tags": ["Authorization"],
        "summary": "Generate Access Token",
        "description": "Exchange `Client ID` and `Client Secret` for an `Access Token`.",
        "operationId": "application-login",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchemaAccessToken" },
                "example": {
                  "response": "OK",
                  "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE2OTk5MDMwNjAsImV4cCI6MTczMTQzOTA2MCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFbWFpbCI6Impyb2NrZXRAZXhhbXBsZS5jb20iLCJSb2xlIjpbIk1hbmFnZXIiLCJQcm9qZWN0IEFkbWluaXN0cmF0b3IiXX0.kD1SotwySvo0FxDI6yvLLmdo0gx3dQ7U5PSTFFXIsPA",
                  "expires_in": 3600,
                  "token_type": "Bearer"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "description": "Error details",
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                },
                "example": {
                  "response": "FAIL",
                  "errors": ["Client not exist."]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Schema" },
              "examples": {
                "mapName": {
                  "value": {
                    "email": "john@doe.com",
                    "client_id": "127n9q3v57n975wn57vn4y9yh5",
                    "client_secret": "2984nm9q74y7&hq34/739nqv7349",
                    "scope": ["vs4plus/post:score", "vs4plus/post:data"]
                  }
                }
              }
            }
          },
          "description": "Application credentials",
          "required": true
        },
        "security": []
      }
    },
    "/bank-link": {
      "post": {
        "tags": ["Data API"],
        "summary": "Generate Bank Link",
        "description": "Generate secure URL to link bank accounts",
        "operationId": "bank-link",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BankLinkResp" }
              }
            }
          },
          "400": {
            "description": "Incorrect input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/400" }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BankLinkReq" }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/accounts": {
      "get": {
        "tags": ["Data API"],
        "summary": "List Consumer Accounts",
        "operationId": "accounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccountsResp" }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "consumer_id",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/account-details/{aggregator_id}": {
      "get": {
        "tags": ["Data API"],
        "summary": "Account Data Elements",
        "operationId": "account-details",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/AccountDetailsFinicity" },
                    { "$ref": "#/components/schemas/AccountDetailsMx" },
                    { "$ref": "#/components/schemas/AccountDetailsYodlee" },
                    { "$ref": "#/components/schemas/AccountDetailsAkoya" }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        },
        "parameters": [
          {
            "in": "query",
            "name": "consumer_id",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "in": "query",
            "name": "account_id",
            "schema": { "type": "integer", "format": "int64" },
            "required": true
          },
          {
            "in": "path",
            "name": "aggregator_id",
            "schema": {
              "type": "string",
              "enum": ["finicity", "mx", "yodlee", "akoya"]
            }
          }
        ],
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/account-owner/{aggregator_id}": {
      "get": {
        "tags": ["Data API"],
        "summary": "Account Owner Personal Information",
        "operationId": "account-owner",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/AccountOwnerFinicity" },
                    { "$ref": "#/components/schemas/AccountOwnerMx" },
                    { "$ref": "#/components/schemas/AccountOwnerYodlee" },
                    { "$ref": "#/components/schemas/AccountOwnerAkoya" }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "424": { "description": "Data source error" }
        },
        "parameters": [
          {
            "in": "query",
            "name": "account_id",
            "schema": { "type": "integer", "format": "int64" },
            "required": true
          },
          {
            "in": "path",
            "name": "aggregator_id",
            "schema": {
              "type": "string",
              "enum": ["finicity", "mx", "yodlee", "akoya"]
            }
          }
        ],
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/transactions/{aggregator_id}": {
      "get": {
        "tags": ["Data API"],
        "summary": "Transactions Data Elements",
        "operationId": "transactions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/TransactionsDataFinicity" },
                    { "$ref": "#/components/schemas/TransactionsDataMx" },
                    { "$ref": "#/components/schemas/TransactionsDataYodlee" },
                    { "$ref": "#/components/schemas/TransactionsDataAkoya" }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        },
        "parameters": [
          {
            "in": "query",
            "name": "filters",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "oneOf": [
                { "$ref": "#/components/schemas/TransactionsFiltersFinicity" },
                { "$ref": "#/components/schemas/TransactionsFiltersMx" },
                { "$ref": "#/components/schemas/TransactionsFiltersYodlee" },
                { "$ref": "#/components/schemas/TransactionsFiltersAkoya" }
              ]
            }
          },
          {
            "in": "path",
            "name": "aggregator_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["finicity", "mx", "yodlee", "akoya"]
            }
          }
        ],
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/scorev4/{bureau_id}": {
      "post": {
        "tags": ["Data API"],
        "summary": "View V4.0 for a consumer",
        "operationId": "v40",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/V4.0_TransUnion" },
                    { "$ref": "#/components/schemas/V4.0_Equifax" },
                    { "$ref": "#/components/schemas/V4.0_Experian" }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Incorrect input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/400" }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/V4.0_ReqTransUnion" },
                  { "$ref": "#/components/schemas/V4.0_ReqEquifax" },
                  { "$ref": "#/components/schemas/V4.0_ReqExperian" }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "bureau_id",
            "schema": { "type": "string", "enum": ["tu", "efx", "exp"] }
          }
        ],
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/reports-vs4/{bureau_id}": {
      "post": {
        "tags": ["Data API"],
        "summary": "View V4.0 report for a consumer",
        "operationId": "v40report",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/V4.0_ReportTransUnion" },
                    { "$ref": "#/components/schemas/V4.0_ReportEquifax" },
                    { "$ref": "#/components/schemas/V4.0_ReportExperian" }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Incorrect input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/400" }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/V4.0_Report_ReqTransUnion" },
                  { "$ref": "#/components/schemas/V4.0_Report_ReqEquifax" },
                  { "$ref": "#/components/schemas/V4.0_Report_ReqExperian" }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "bureau_id",
            "schema": { "type": "string", "enum": ["tu", "efx", "exp"] }
          }
        ],
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/reports-vs4/hard-inquiry/{bureau_id}": {
      "post": {
        "tags": ["Data API"],
        "summary": "View V4.0 hard inquiry report for a consumer",
        "operationId": "v40hardreport",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/V4.0_ReportTransUnion" },
                    { "$ref": "#/components/schemas/V4.0_ReportEquifax" },
                    { "$ref": "#/components/schemas/V4.0_ReportExperian" }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Incorrect input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/400" }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/V4.0_Report_ReqTransUnion" },
                  { "$ref": "#/components/schemas/V4.0_Report_ReqEquifax" },
                  { "$ref": "#/components/schemas/V4.0_Report_ReqExperian" }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "bureau_id",
            "schema": { "type": "string", "enum": ["tu", "efx", "exp"] }
          }
        ],
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "400": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "FailedField": { "type": "string" },
            "Tag": { "type": "string" },
            "Value": { "type": "string" }
          }
        }
      },
      "Schema": {
        "type": "object",
        "title": "Application Credentials",
        "properties": {
          "email": { "description": "Email of the user", "type": "string" },
          "client_id": {
            "description": "Client ID of an application belonging to the user",
            "type": "string"
          },
          "client_secret": {
            "description": "Client Secret of an application belonging to the user",
            "type": "string"
          },
          "scope": {
            "description": "Scopes to request for access. To access the Scoring API, specify `vs4plus/post:score` in the list. To access the Data API, specify `vs4plus/post:data` in the list.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "vs4plus/post:score",
                "vs4plus/post:data",
                "vs4plus/post:sandbox"
              ]
            }
          }
        }
      },
      "SchemaAccessToken": {
        "type": "object",
        "title": "Access Token",
        "properties": {
          "response": {
            "description": "Whether the authorization is successful or not.",
            "type": "string",
            "enum": ["OK", "FAIL"]
          },
          "access_token": {
            "description": "The generated token.",
            "type": "string"
          },
          "expires_in": {
            "description": "The amount of time (in seconds) the generated token is effective. Once the period has passed, the token expires, and requests using the token will fail.",
            "type": "integer"
          },
          "token_type": {
            "description": "Type of the token. Currently this value is always `Bearer`.",
            "type": "string"
          }
        }
      },
      "BankLinkReq": {
        "type": "array",
        "items": {
          "type": "object",
          "required": [
            "consumer",
            "institution_id",
            "aggregator_id",
            "redirect_uri",
            "oauth"
          ],
          "properties": {
            "consumer": {
              "type": "object",
              "required": ["id", "first_name", "last_name"],
              "properties": {
                "id": { "type": "string", "minLength": 4, "maxLength": 10 },
                "first_name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 16
                },
                "last_name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 16
                }
              }
            },
            "institution_id": { "type": "string" },
            "aggregator_id": {
              "type": "string",
              "enum": ["finicity", "mx", "yodlee", "akoya"]
            },
            "redirect_uri": { "type": "string" },
            "oauth": { "type": "boolean" }
          }
        }
      },
      "BankLinkResp": {
        "type": "object",
        "properties": { "url": { "type": "string" } }
      },
      "AccountsResp": {
        "type": "object",
        "properties": {
          "Consumer": {
            "type": "object",
            "properties": {
              "consumerId": { "type": "string" },
              "firstName": { "type": "string" },
              "lastName": { "type": "string" }
            }
          },
          "Accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Bank": { "type": "string" },
                "Id": { "type": "integer", "format": "int64" },
                "Name": { "type": "string" },
                "Aggregator": { "type": "string" }
              }
            }
          }
        }
      },
      "AccountDetailsFinicity": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "number": { "type": "string" },
          "accountNumberDisplay": { "type": "string" },
          "realAccountNumberLast4": { "type": "string" },
          "name": { "type": "string" },
          "balance": { "type": "number", "format": "float" },
          "type": { "type": "string" },
          "aggregationStatusCode": { "type": "integer" },
          "status": { "type": "string" },
          "customerId": { "type": "string" },
          "institutionId": { "type": "string" },
          "balanceDate": { "type": "integer", "format": "int64" },
          "aggregationSuccessDate": { "type": "integer", "format": "int64" },
          "aggregationAttemptDate": { "type": "integer", "format": "int64" },
          "createdDate": { "type": "integer", "format": "int64" },
          "currency": { "type": "string" },
          "lastTransactionDate": { "type": "integer", "format": "int64" },
          "detail": {
            "type": "object",
            "properties": {
              "dateAsOf": { "type": "integer", "format": "int64" },
              "availableBalanceAmount": { "type": "number", "format": "float" },
              "openDate": { "type": "integer", "format": "int64" },
              "periodStartDate": { "type": "integer", "format": "int64" },
              "periodEndDate": { "type": "integer", "format": "int64" },
              "periodInterestRate": { "type": "string" },
              "periodDepositAmount": { "type": "number", "format": "float" },
              "periodInterestAmount": { "type": "number", "format": "float" },
              "interestYtdAmount": { "type": "number", "format": "float" },
              "interestPriorYtdAmount": { "type": "number", "format": "float" },
              "maturityDate": { "type": "integer", "format": "int64" },
              "interestRate": { "type": "string" },
              "creditAvailableAmount": { "type": "number", "format": "float" },
              "creditMaxAmount": { "type": "number", "format": "float" },
              "cashAdvanceAvailableAmount": {
                "type": "number",
                "format": "float"
              },
              "cashAdvanceMaxAmount": { "type": "number", "format": "float" },
              "cashAdvanceBalance": { "type": "number", "format": "float" },
              "cashAdvanceInterestRate": {
                "type": "number",
                "format": "float"
              },
              "currentBalance": { "type": "number", "format": "float" },
              "paymentMinAmount": { "type": "number", "format": "float" },
              "paymentDueDate": { "type": "integer", "format": "int64" },
              "previousBalance": { "type": "number", "format": "float" },
              "statementStartDate": { "type": "integer", "format": "int64" },
              "statementEndDate": { "type": "integer", "format": "int64" },
              "statementPurchaseAmount": {
                "type": "number",
                "format": "float"
              },
              "statementFinanceAmount": { "type": "number", "format": "float" },
              "statementCreditAmount": { "type": "number", "format": "float" },
              "rewardEarnedBalance": { "type": "number", "format": "float" },
              "pastDueAmount": { "type": "number", "format": "float" },
              "lastPaymentAmount": { "type": "number", "format": "float" },
              "lastPaymentDate": { "type": "integer", "format": "int64" },
              "statementCloseBalance": { "type": "number", "format": "float" },
              "termOfMl": { "type": "string" },
              "mlHolderName": { "type": "string" },
              "description": { "type": "string" },
              "lateFeeAmount": { "type": "number", "format": "float" },
              "payoffAmount": { "type": "number", "format": "float" },
              "originalMaturiyDate": { "type": "integer", "format": "int64" },
              "principalBalance": { "type": "number", "format": "float" },
              "escrowBalance": { "type": "number", "format": "float" },
              "interestPeriod": { "type": "string" },
              "initialMlAmount": { "type": "number", "format": "float" },
              "initialMlDate": { "type": "integer", "format": "int64" },
              "nextPaymentPrincipalAmount": {
                "type": "number",
                "format": "float"
              },
              "nextPayment": { "type": "number", "format": "float" },
              "nextPaymentDate": { "type": "integer", "format": "int64" },
              "lastPaymentDueDate": { "type": "integer", "format": "int64" },
              "lastPaymentReceiveDate": {
                "type": "integer",
                "format": "int64"
              },
              "lastPaymentPrincipalAmount": {
                "type": "number",
                "format": "float"
              },
              "lastPaymentInterestAmount": {
                "type": "number",
                "format": "float"
              },
              "lastPaymentEscrowAmount": {
                "type": "number",
                "format": "float"
              },
              "lastPaymentLastFeeAmount": {
                "type": "number",
                "format": "float"
              },
              "lastPaymentLateCharge": { "type": "number", "format": "float" },
              "ytdPrincipalPaid": { "type": "number", "format": "float" },
              "ytdInterstPaid": { "type": "number", "format": "float" },
              "ytdInsurancePaid": { "type": "number", "format": "float" },
              "ytdTaxPaid": { "type": "number", "format": "float" },
              "autoPayEnrolled": { "type": "boolean" },
              "collateral": { "type": "string" },
              "currentSchool": { "type": "string" },
              "firstPaymentDate": { "type": "integer", "format": "int64" },
              "firstMortgage": { "type": "boolean" },
              "loanPaymentFreq": { "type": "string" },
              "originalSchool": { "type": "string" },
              "recurringPaymentAmount": { "type": "number", "format": "float" },
              "lender": { "type": "string" },
              "endingBalanceAmount": { "type": "number", "format": "float" },
              "loanTermType": { "type": "string" },
              "paymentsMade": { "type": "integer" },
              "balloonAmount": { "type": "number", "format": "float" },
              "projectedInterest": { "type": "number", "format": "float" },
              "interestPaidLtd": { "type": "number", "format": "float" },
              "interestRateType": { "type": "string" },
              "loanPaymentType": { "type": "string" },
              "repaymentPlan": { "type": "string" },
              "paymentsRemaining": { "type": "integer" },
              "marginBalance": { "type": "number", "format": "float" },
              "shortBalance": { "type": "number", "format": "float" },
              "availableCashBalance": { "type": "number", "format": "float" },
              "maturityValueAmount": { "type": "number", "format": "float" },
              "vestedBalance": { "type": "number", "format": "float" },
              "empMatchAmount": { "type": "number", "format": "float" },
              "empPretaxContribAmount": { "type": "number", "format": "float" },
              "empPretaxContribAmountYtd": {
                "type": "number",
                "format": "float"
              },
              "contribTotalYtd": { "type": "number", "format": "float" },
              "cashBalanceAmount": { "type": "number", "format": "float" },
              "preTaxAmount": { "type": "number", "format": "float" },
              "afterTaxAmount": { "type": "number", "format": "float" },
              "matchAmount": { "type": "number", "format": "float" },
              "profitSharingAmount": { "type": "number", "format": "float" },
              "rolloverAmount": { "type": "number", "format": "float" },
              "otherVestAmount": { "type": "number", "format": "float" },
              "otherNonvestAmount": { "type": "number", "format": "float" },
              "currentLoanBalance": { "type": "number", "format": "float" },
              "loanRate": { "type": "number", "format": "float" },
              "buyPower": { "type": "number", "format": "float" },
              "rolloverLtd": { "type": "number", "format": "float" },
              "loanAwardId": { "type": "string" },
              "originalInterestRate": { "type": "number", "format": "float" },
              "guarantor": { "type": "string" },
              "owner": { "type": "string" },
              "interestSubsidyType": { "type": "string" },
              "interestBalance": { "type": "number", "format": "float" },
              "remainingTermOfMl": { "type": "number", "format": "float" },
              "initialInterestRate": { "type": "number", "format": "float" },
              "feesBalance": { "type": "number", "format": "float" },
              "loanYtdInterestPaid": { "type": "number", "format": "float" },
              "loanYtdFeesPaid": { "type": "number", "format": "float" },
              "loanYtdPrincipalPaid": { "type": "number", "format": "float" },
              "loanStatus": { "type": "string" },
              "loanStatusStartDate": { "type": "integer", "format": "int64" },
              "loanStatusEndDate": { "type": "integer", "format": "int64" },
              "weightedInterestRate": { "type": "number", "format": "float" },
              "repaymentPlanStartDate": {
                "type": "integer",
                "format": "int64"
              },
              "repaymentPlanEndDate": { "type": "integer", "format": "int64" },
              "expectedPayoffDate": { "type": "integer", "format": "int64" },
              "outOfSchoolDate": { "type": "integer", "format": "int64" },
              "convertToRepayment": { "type": "integer", "format": "int64" },
              "daysDelinquent": { "type": "integer" },
              "totalPrincipalPaid": { "type": "number", "format": "float" },
              "totalInterestPaid": { "type": "number", "format": "float" },
              "totalAmountPaid": { "type": "number", "format": "float" }
            }
          },
          "position": {
            "type": "object",
            "properties": {
              "id": { "type": "integer", "format": "int64" },
              "description": { "type": "string" },
              "symbol": { "type": "string" },
              "units": { "type": "number", "format": "float" },
              "currentPrice": { "type": "number", "format": "float" },
              "securityName": { "type": "string" },
              "transactionType": { "type": "string" },
              "marketValue": { "type": "number", "format": "float" },
              "costBasis": { "type": "number", "format": "float" },
              "status": { "type": "string" },
              "currentPriceDate": { "type": "integer", "format": "int64" },
              "securityType": { "type": "string" },
              "mfType": { "type": "string" },
              "posType": { "type": "string" },
              "totalGLDollar": { "type": "number", "format": "float" },
              "totalGLPercent": { "type": "number", "format": "float" },
              "optionStrikePrice": { "type": "number", "format": "float" },
              "optionType": { "type": "number", "format": "float" },
              "optionSharesPerContract": {
                "type": "number",
                "format": "float"
              },
              "optionExpireDate": { "type": "integer", "format": "int64" },
              "fiAssetClass": { "type": "string" },
              "assetClass": { "type": "string" },
              "currencyRate": { "type": "number", "format": "float" },
              "securityId": { "type": "string" },
              "securityIdType": { "type": "string" },
              "costBasisPerShare": { "type": "number", "format": "float" },
              "subAccountType": { "type": "string" },
              "securityCurrency": { "type": "string" },
              "todayGLDollar": { "type": "number", "format": "float" },
              "todayGLPercent": { "type": "number", "format": "float" }
            }
          },
          "displayPosition": { "type": "integer" },
          "parentAccount": { "type": "string" }
        }
      },
      "AccountDetailsMx": {
        "type": "object",
        "properties": {
          "account_number": { "type": "string" },
          "apr": { "type": "number", "format": "float" },
          "apy": { "type": "number", "format": "float" },
          "available_balance": { "type": "number", "format": "float" },
          "available_credit": { "type": "number", "format": "float" },
          "balance": { "type": "number", "format": "float" },
          "cash_balance": { "type": "number", "format": "float" },
          "cash_surrender_value": { "type": "number", "format": "float" },
          "created_at": { "type": "string" },
          "credit_limit": { "type": "number", "format": "float" },
          "currency_code": { "type": "string" },
          "day_payment_is_due": { "type": "integer" },
          "death_benefit": { "type": "integer" },
          "guid": { "type": "string" },
          "holdings_value": { "type": "number", "format": "float" },
          "id": { "type": "string" },
          "imported_at": { "type": "string" },
          "institution_code": { "type": "string" },
          "insured_name": { "type": "string" },
          "interest_rate": { "type": "number", "format": "float" },
          "is_closed": { "type": "boolean" },
          "is_hidden": { "type": "boolean" },
          "last_payment_at": { "type": "string" },
          "last_payment": { "type": "number", "format": "float" },
          "loan_amount": { "type": "number", "format": "float" },
          "matures_on": { "type": "string" },
          "member_guid": { "type": "string" },
          "member_id": { "type": "string" },
          "member_is_managed_by_user": { "type": "boolean" },
          "metadata": { "type": "string" },
          "minimum_balance": { "type": "number", "format": "float" },
          "minimum_payment": { "type": "number", "format": "float" },
          "name": { "type": "string" },
          "nickname": { "type": "string" },
          "original_balance": { "type": "number", "format": "float" },
          "pay_out_amount": { "type": "number", "format": "float" },
          "payment_due_at": { "type": "string" },
          "payoff_balance": { "type": "number", "format": "float" },
          "premium_amount": { "type": "number", "format": "float" },
          "routing_number": { "type": "string" },
          "started_on": { "type": "string" },
          "subtype": { "type": "string" },
          "total_account_value": { "type": "string" },
          "type": { "type": "string" },
          "updated_at": { "type": "string" },
          "user_guid": { "type": "string" },
          "user_id": { "type": "string" }
        }
      },
      "MoneyYodlee": {
        "type": "object",
        "properties": {
          "amount": { "type": "number", "format": "float" },
          "convertedAmount": { "type": "number", "format": "float" },
          "currency": { "type": "string" },
          "convertedCurrency": { "type": "string" }
        }
      },
      "IdentifierYodlee": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "AccountAddressYodlee": {
        "type": "object",
        "properties": {
          "zip": { "type": "string" },
          "country": { "type": "string" },
          "address1": { "type": "string" },
          "address2": { "type": "string" },
          "address3": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "street": { "type": "string" },
          "type": { "type": "string" },
          "sourceType": { "type": "string" }
        }
      },
      "PhoneNumberYodlee": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "EmailYodlee": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "AccountProfileYodlee": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/IdentifierYodlee" }
          },
          "address": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AccountAddressYodlee" }
          },
          "phoneNumber": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PhoneNumberYodlee" }
          },
          "email": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EmailYodlee" }
          }
        }
      },
      "NameYodlee": {
        "type": "object",
        "properties": {
          "first": { "type": "string" },
          "middle": { "type": "string" },
          "last": { "type": "string" },
          "fullName": { "type": "string" }
        }
      },
      "AccountHolderYodlee": {
        "type": "object",
        "properties": {
          "identifier": { "$ref": "#/components/schemas/IdentifierYodlee" },
          "gender": { "type": "string" },
          "ownership": { "type": "string" },
          "name": { "$ref": "#/components/schemas/NameYodlee" }
        }
      },
      "AccountDatasetYodlee": {
        "type": "object",
        "properties": {
          "lastUpdated": { "type": "string" },
          "updateEligibility": { "type": "string" },
          "additionalStatus": { "type": "string" },
          "nextUpdateSchedule": { "type": "string" },
          "name": { "type": "string" },
          "lastUpdateAttempt": { "type": "string" }
        }
      },
      "RewardBalanceYodlee": {
        "type": "object",
        "properties": {
          "expiryDate": { "type": "string" },
          "balanceToReward": { "type": "string" },
          "balanceType": { "type": "string" },
          "balance": { "type": "number", "format": "float" },
          "balanceToLevel": { "type": "string" },
          "units": { "type": "string" }
        }
      },
      "BankTransferCodeYodlee": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string" }
        }
      },
      "CoverageYodlee": {
        "type": "object",
        "properties": {
          "planType": { "type": "string" },
          "endDate": { "type": "string" },
          "type": { "type": "string" },
          "startDate": { "type": "string" },
          "amount": {
            "type": "object",
            "properties": {
              "cover": { "$ref": "#/components/schemas/MoneyYodlee" },
              "unitType": { "type": "string" },
              "type": { "type": "string" },
              "limitType": { "type": "string" },
              "met": { "$ref": "#/components/schemas/MoneyYodlee" }
            }
          }
        }
      },
      "AutoRefreshYodlee": {
        "type": "object",
        "properties": {
          "additionalStatus": { "type": "string" },
          "asOfDate": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "FullAccountNumberListYodlee": {
        "type": "object",
        "properties": {
          "paymentAccountNumber": { "type": "string" },
          "unmaskedAccountNumber": { "type": "string" }
        }
      },
      "LoanPayoffDetailsYodlee": {
        "type": "object",
        "properties": {
          "payByDate": { "type": "string" },
          "payoffAmount": { "$ref": "#/components/schemas/MoneyYodlee" },
          "outstandingBalance": { "$ref": "#/components/schemas/MoneyYodlee" }
        }
      },
      "PaymentProfileYodlee": {
        "type": "object",
        "properties": {
          "identifier": { "$ref": "#/components/schemas/IdentifierYodlee" },
          "address": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AccountAddressYodlee" }
          },
          "paymentBankTransferCode": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "type": { "type": "string" }
            }
          }
        }
      },
      "AccountDetailsYodlee": {
        "type": "object",
        "properties": {
          "availableCash": { "$ref": "#/components/schemas/MoneyYodlee" },
          "includeInNetWorth": { "type": "boolean" },
          "moneyMarketBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "enrollmentDate": { "type": "string" },
          "estimatedDate": { "type": "string" },
          "memo": { "type": "string" },
          "guarantor": { "type": "string" },
          "interestPaidLastYear": {
            "$ref": "#/components/schemas/MoneyYodlee"
          },
          "lastUpdated": { "type": "string" },
          "balance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "homeInsuranceType": { "type": "string" },
          "id": { "type": "integer", "format": "int64" },
          "cash": { "$ref": "#/components/schemas/MoneyYodlee" },
          "totalCreditLine": { "$ref": "#/components/schemas/MoneyYodlee" },
          "providerName": { "type": "string" },
          "valuationType": { "type": "string" },
          "marginBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "apr": { "type": "number", "format": "float" },
          "availableCredit": { "$ref": "#/components/schemas/MoneyYodlee" },
          "isManual": { "type": "boolean" },
          "profile": { "$ref": "#/components/schemas/AccountProfileYodlee" },
          "escrowBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "nextLevel": { "type": "string" },
          "classification": { "type": "string" },
          "loanPayoffAmount": { "$ref": "#/components/schemas/MoneyYodlee" },
          "interestRateType": { "type": "string" },
          "loanPayByDate": { "type": "string" },
          "faceAmount": { "$ref": "#/components/schemas/MoneyYodlee" },
          "policyFromDate": { "type": "string" },
          "premiumPaymentTerm": { "type": "string" },
          "policyTerm": { "type": "string" },
          "repaymentPlanType": { "type": "string" },
          "aggregatedAccountType": { "type": "string" },
          "availableBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "accountStatus": { "type": "string" },
          "lifeInsuranceType": { "type": "string" },
          "fullAccountNumber": { "type": "string" },
          "premium": { "$ref": "#/components/schemas/MoneyYodlee" },
          "aggregationSource": { "type": "string" },
          "overDraftLimit": { "$ref": "#/components/schemas/MoneyYodlee" },
          "nickname": { "type": "string" },
          "term": { "type": "string" },
          "interestRate": { "type": "number", "format": "float" },
          "deathBenefit": { "$ref": "#/components/schemas/MoneyYodlee" },
          "address": { "$ref": "#/components/schemas/AccountAddressYodlee" },
          "cashValue": { "$ref": "#/components/schemas/MoneyYodlee" },
          "holder": { "$ref": "#/components/schemas/AccountHolderYodlee" },
          "401kLoan": { "$ref": "#/components/schemas/MoneyYodlee" },
          "homeValue": { "$ref": "#/components/schemas/MoneyYodlee" },
          "accountNumber": { "type": "string" },
          "createdDate": { "type": "string" },
          "interestPaidYTD": { "$ref": "#/components/schemas/MoneyYodlee" },
          "providerAccountId": { "type": "integer", "format": "int64" },
          "collateral": { "type": "string" },
          "dataset": { "$ref": "#/components/schemas/AccountDatasetYodlee" },
          "runningBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "sourceId": { "type": "string" },
          "dueDate": { "type": "string" },
          "frequency": { "type": "string" },
          "maturityAmount": { "$ref": "#/components/schemas/MoneyYodlee" },
          "associatedProviderAccountId": {
            "type": "array",
            "items": { "type": "integer", "format": "int64" }
          },
          "isAsset": { "type": "boolean" },
          "principalBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "totalCashLimit": { "$ref": "#/components/schemas/MoneyYodlee" },
          "maturityDate": { "type": "string" },
          "minimumAmountDue": { "$ref": "#/components/schemas/MoneyYodlee" },
          "annualPercentageYield": { "type": "number", "format": "float" },
          "accountType": { "type": "string" },
          "originationDate": { "type": "string" },
          "totalVestedBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "rewardBalance": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RewardBalanceYodlee" }
          },
          "sourceAccountStatus": { "type": "string" },
          "linkedAccountIds": {
            "type": "array",
            "items": { "type": "integer", "format": "int64" }
          },
          "derivedApr": { "type": "number", "format": "float" },
          "policyEffectiveDate": { "type": "string" },
          "totalUnvestedBalance": {
            "$ref": "#/components/schemas/MoneyYodlee"
          },
          "annnuityBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "accountName": { "type": "string" },
          "totalCreditLimit": { "$ref": "#/components/schemas/MoneyYodlee" },
          "policyStatus": { "type": "string" },
          "shortBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "lender": { "type": "string" },
          "lastEmployeeContribututionAmount": {
            "$ref": "#/components/schemas/MoneyYodlee"
          },
          "providerId": { "type": "string" },
          "lastPaymentDate": { "type": "string" },
          "primaryRewardUnit": { "type": "string" },
          "lastPaymentAmount": { "$ref": "#/components/schemas/MoneyYodlee" },
          "remainingBalance": { "$ref": "#/components/schemas/MoneyYodlee" },
          "userClassification": { "type": "string" },
          "bankTransferCode": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BankTransferCodeYodlee" }
          },
          "expirationDate": { "type": "string" },
          "coverage": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CoverageYodlee" }
          },
          "cashApr": { "type": "number", "format": "float" },
          "autoRefresh": { "$ref": "#/components/schemas/AutoRefreshYodlee" },
          "oauthMigrationStatus": { "type": "string" },
          "displayedName": { "type": "string" },
          "fullAccountNumberList": {
            "$ref": "#/components/schemas/FullAccountNumberListYodlee"
          },
          "amountDue": { "$ref": "#/components/schemas/MoneyYodlee" },
          "currentLevel": { "type": "string" },
          "originalLoanAmount": { "$ref": "#/components/schemas/MoneyYodlee" },
          "policyToDate": { "type": "string" },
          "loanPayoffDetails": {
            "$ref": "#/components/schemas/LoanPayoffDetailsYodlee"
          },
          "paymentProfile": {
            "$ref": "#/components/schemas/PaymentProfileYodlee"
          },
          "CONTAINER": { "type": "string" },
          "lastEmployeeContributionDate": { "type": "string" },
          "lastPayment": { "$ref": "#/components/schemas/MoneyYodlee" },
          "recurringPayment": { "$ref": "#/components/schemas/MoneyYodlee" }
        }
      },
      "AssetClassAkoya": {
        "type": "object",
        "properties": {
          "assetClass": { "type": "string" },
          "percent": { "type": "number" }
        }
      },
      "CurrencyAkoya": {
        "type": "object",
        "properties": {
          "currencyCode": { "type": "string" },
          "currencyRate": { "type": "number" },
          "originalCurrencyCode": { "type": "string" }
        }
      },
      "FiAttributeAkoya": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "InvestmentAccountAkoya": {
        "type": "object",
        "properties": {
          "holdings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "assetClasses": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AssetClassAkoya" }
                },
                "averageCost": { "type": "boolean" },
                "cashAccount": { "type": "boolean" },
                "changeInPrice": { "type": "number" },
                "currency": { "$ref": "#/components/schemas/CurrencyAkoya" },
                "currentUnitPrice": { "type": "number" },
                "currentUnitPriceDate": { "type": "string" },
                "description": { "type": "string" },
                "expirationDate": { "type": "string" },
                "faceValue": { "type": "number" },
                "fiAssetClasses": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AssetClassAkoya" }
                },
                "fiAttributes": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/FiAttributeAkoya" }
                },
                "heldInAccount": { "type": "string" },
                "holdingId": { "type": "string" },
                "holdingName": { "type": "string" },
                "holdingSubType": { "type": "string" },
                "holdingType": { "type": "string" },
                "inv401kSurce": { "type": "string" },
                "marketValue": { "type": "number" },
                "originalPurchaseDate": { "type": "string" },
                "positionType": { "type": "string" },
                "purchasedPrice": { "type": "number" },
                "rate": { "type": "number" },
                "securityId": { "type": "string" },
                "securityIdType": { "type": "string" },
                "symbol": { "type": "string" },
                "taxLots": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "costBasis": { "type": "number" },
                      "currentValue": { "type": "number" },
                      "originalPurchaseDate": { "type": "string" },
                      "postionType": { "type": "string" },
                      "purchasedPrice": { "type": "number" },
                      "quantity": { "type": "number" }
                    }
                  }
                },
                "units": { "type": "number" },
                "mutualFundSecurity": {
                  "type": "object",
                  "properties": {
                    "mutualFundType": { "type": "string" },
                    "unitsStreet": { "type": "number" },
                    "unitsUser": { "type": "number" },
                    "reinvestDividends": { "type": "boolean" },
                    "reinvestCapitalGains": { "type": "boolean" },
                    "yield_": { "type": "number" },
                    "yieldAsOfDate": { "type": "string" }
                  }
                },
                "optionSecurity": {
                  "type": "object",
                  "properties": {
                    "secured": { "type": "string" },
                    "optionType": { "type": "string" },
                    "strikePrice": { "type": "number" },
                    "expireDate": { "type": "string" },
                    "sharesPerContract": { "type": "number" }
                  }
                },
                "otherSecurity": {
                  "type": "object",
                  "properties": { "typeDescription": { "type": "string" } }
                },
                "stockSecurity": {
                  "type": "object",
                  "properties": {
                    "unitsStreet": { "type": "number" },
                    "unitsUser": { "type": "number" },
                    "reinvestDividends": { "type": "boolean" },
                    "stockType": { "type": "string" },
                    "yield_": { "type": "number" },
                    "yieldAsOfDate": { "type": "string" }
                  }
                },
                "sweepSecurity": {
                  "type": "object",
                  "properties": {
                    "currentBalance": { "type": "number" },
                    "availableBalance": { "type": "number" },
                    "balanceAsOf": { "type": "string" },
                    "checks": { "type": "boolean" }
                  }
                },
                "debtSecurity": {
                  "type": "object",
                  "properties": {
                    "parValue": { "type": "number" },
                    "debtType": { "type": "string" },
                    "debtClass": { "type": "string" },
                    "couponRate": { "type": "number" },
                    "couponDate": { "type": "string" },
                    "couponMatureFrequency": { "type": "string" },
                    "callPrice": { "type": "number" },
                    "yieldToCall": { "type": "number" },
                    "callDate": { "type": "string" },
                    "callType": { "type": "string" },
                    "yieldToMaturity": { "type": "number" },
                    "bondMaturityDate": { "type": "string" }
                  }
                }
              }
            }
          },
          "openOrders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orderId": { "type": "string" },
                "securityId": { "type": "string" },
                "securityIdType": { "type": "string" },
                "symbol": { "type": "string" },
                "description": { "type": "string" },
                "units": { "type": "number" },
                "orderType": { "type": "string" },
                "orderDate": { "type": "string" },
                "unitPrice": { "type": "number" },
                "unitType": { "type": "string" },
                "orderDuration": { "type": "string" },
                "subAccount": { "type": "string" },
                "limitPrice": { "type": "number" },
                "stopPrice": { "type": "number" },
                "inv401kSource": { "type": "string" }
              }
            }
          },
          "contribution": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "securityId": { "type": "string" },
                "securityIdType": { "type": "string" },
                "employerMatchPercentage": { "type": "number" },
                "employerMatchAmount": { "type": "number" },
                "employeePreTaxAmount": { "type": "number" },
                "employeePreTaxPercentage": { "type": "number" },
                "employeeAfterTaxAmount": { "type": "number" },
                "employeeAfterTaxPercentage": { "type": "number" },
                "employeeDeferPreTaxAmount": { "type": "number" },
                "employeeDeferPreTaxPercentage": { "type": "number" },
                "employeeYearToDate": { "type": "number" },
                "employerYearToDate": { "type": "number" },
                "rolloverContributionPercentage": { "type": "number" },
                "rolloverContributionAmount": { "type": "number" }
              }
            }
          },
          "vesting": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "vestingDate": { "type": "string" },
                "symbol": { "type": "string" },
                "strikePrice": { "type": "number" },
                "vestingPercentage": { "type": "number" },
                "otherVestAmount": { "type": "number" },
                "otherVestPercentage": { "type": "number" },
                "vestedBalance": { "type": "number" },
                "unVestedBalance": { "type": "number" },
                "vestedQuantity": { "type": "number" },
                "unVestedQuantity": { "type": "number" }
              }
            }
          },
          "investmentLoans": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loanId": { "type": "string" },
                "loanDescription": { "type": "string" },
                "initialLoanBalance": { "type": "number" },
                "loanStartDate": { "type": "string" },
                "currentLoanBalance": { "type": "number" },
                "dateAsOf": { "type": "string" },
                "loanRate": { "type": "number" },
                "loanPaymentAmount": { "type": "number" },
                "loanPaymentFrequency": { "type": "string" },
                "loanPaymentInitial": { "type": "number" },
                "loanPaymentsRemaining": { "type": "integer" },
                "loanMaturityDate": { "type": "string" },
                "loanInterestToDate": { "type": "number" },
                "loanTotalProjectedInterest": { "type": "number" },
                "loanNextPaymentDate": { "type": "string" }
              }
            }
          },
          "pensionSource": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "displayName": { "type": "string" },
                "amount": { "type": "number" },
                "paymentOption": { "type": "string" },
                "asOfDate": { "type": "string" },
                "frequency": { "type": "string" },
                "startDate": { "type": "string" }
              }
            }
          },
          "entityGrants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "grantId": { "type": "string" },
                "grantDate": { "type": "string" },
                "grantType": { "type": "string" },
                "seqNum": { "type": "number" },
                "grantPrice": { "type": "number" },
                "grantCurrencyCode": { "type": "string" },
                "quantityGranted": { "type": "number" },
                "quantityOutstanding": { "type": "number" },
                "expirationDate": { "type": "string" },
                "vestings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "vestedQuantity": { "type": "number" },
                      "vestedValue": { "type": "number" },
                      "vestingDate": { "type": "string" },
                      "vestExpireDate": { "type": "string" },
                      "vestedStatus": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "availableCashBalance": { "type": "number" },
          "balanceAsOf": { "type": "string" },
          "balanceList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "balanceName": { "type": "string" },
                "balanceDescription": { "type": "string" },
                "balanceType": { "type": "string" },
                "balanceValue": { "type": "number" },
                "balanceDate": { "type": "string" },
                "currency": { "$ref": "#/components/schemas/CurrencyAkoya" }
              }
            }
          },
          "currentValue": { "type": "number" },
          "dailyChange": { "type": "number" },
          "marginBalance": { "type": "number" },
          "percentageChange": { "type": "number" },
          "rolloverAmount": { "type": "number" },
          "shortBalance": { "type": "number" },
          "allowedCheckWriting": { "type": "boolean" },
          "allowedOptionTrade": { "type": "boolean" },
          "brokerId": { "type": "string" },
          "calendarYearFor401K": { "type": "string" },
          "employerName": { "type": "string" },
          "margin": { "type": "boolean" },
          "planId": { "type": "string" }
        }
      },
      "ErrorAkoya": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "message": { "type": "string" }
        }
      },
      "DepositAccountAkoya": {
        "type": "object",
        "properties": {
          "balanceAsOf": { "type": "string" },
          "openingDayBalance": { "type": "number" },
          "availableBalance": { "type": "number" },
          "interestYtd": { "type": "number" },
          "currentBalance": { "type": "number" },
          "accountId": { "type": "string" },
          "accountType": { "type": "string" },
          "accountNumberDisplay": { "type": "string" },
          "currency": { "$ref": "#/components/schemas/CurrencyAkoya" },
          "description": { "type": "string" },
          "error": { "$ref": "#/components/schemas/ErrorAkoya" },
          "fiAttributes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FiAttributeAkoya" }
          },
          "nickname": { "type": "string" },
          "productName": { "type": "string" },
          "status": { "type": "string" },
          "lineOfBusiness": { "type": "string" },
          "balanceType": { "type": "string" },
          "interestRate": { "type": "number" },
          "interestRateType": { "type": "string" },
          "interestRateAsOf": { "type": "string" },
          "lastActivityDate": { "type": "string" },
          "micrNumber": { "type": "string" },
          "parentAccountId": { "type": "string" },
          "priorInterestRate": { "type": "number" },
          "transferIn": { "type": "boolean" },
          "transferOut": { "type": "boolean" },
          "annualPercentageYield": { "type": "number" },
          "term": { "type": "integer" },
          "maturityDate": { "type": "string" }
        }
      },
      "AccountInfoAkoya": {
        "type": "object",
        "properties": {
          "accountId": { "type": "string" },
          "accountType": { "type": "string" },
          "accountNumberDisplay": { "type": "string" },
          "currency": { "$ref": "#/components/schemas/CurrencyAkoya" },
          "description": { "type": "string" },
          "error": { "$ref": "#/components/schemas/ErrorAkoya" },
          "fiAttributes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FiAttributeAkoya" }
          },
          "nickname": { "type": "string" },
          "productName": { "type": "string" },
          "status": { "type": "string" },
          "lineOfBusiness": { "type": "string" },
          "balanceType": { "type": "string" },
          "interestRate": { "type": "number" },
          "interestRateType": { "type": "string" },
          "interestRateAsOf": { "type": "string" },
          "lastActivityDate": { "type": "string" },
          "micrNumber": { "type": "string" },
          "parentAccountId": { "type": "string" },
          "priorInterestRate": { "type": "number" },
          "transferIn": { "type": "boolean" },
          "transferOut": { "type": "boolean" }
        }
      },
      "LoanAccountAkoya": {
        "type": "object",
        "allOf": [{ "$ref": "#/components/schemas/AccountInfoAkoya" }],
        "properties": {
          "balanceAsOf": { "type": "string" },
          "escrowBalance": { "type": "number" },
          "interestPaidYearToDate": { "type": "number" },
          "lastPaymentAmount": { "type": "number" },
          "lastPaymentDate": { "type": "string" },
          "nextPaymentAmount": { "type": "number" },
          "nextPaymentDate": { "type": "string" },
          "originalPrincipal": { "type": "number" },
          "payOffAmount": { "type": "number" },
          "principalBalance": { "type": "number" },
          "compoundingPeriod": { "type": "string" },
          "loanTerm": { "type": "integer" },
          "maturityDate": { "type": "string" },
          "originatingDate": { "type": "string" },
          "paymentFrequency": { "type": "string" },
          "totalNumberOfPayments": { "type": "integer" }
        }
      },
      "LocAccountAkoya": {
        "type": "object",
        "allOf": [{ "$ref": "#/components/schemas/AccountInfoAkoya" }],
        "properties": {
          "balanceAsOf": { "type": "string" },
          "advancesApr": { "type": "number" },
          "availableCash": { "type": "number" },
          "availableCredit": { "type": "number" },
          "cashAdvanceLimit": { "type": "number" },
          "creditLine": { "type": "number" },
          "currentBalance": { "type": "number" },
          "currentRewardsBalance": { "type": "number" },
          "financeCharges": { "type": "number" },
          "lastPaymentAmount": { "type": "number" },
          "lastPaymentDate": { "type": "string" },
          "lastStmtBalance": { "type": "number" },
          "lastStmtDate": { "type": "string" },
          "minimumPaymentAmount": { "type": "number" },
          "nextPaymentAmount": { "type": "number" },
          "nextPaymentDate": { "type": "string" },
          "pastDueAmount": { "type": "number" },
          "pointsAccrued": { "type": "number" },
          "principalBalance": { "type": "number" },
          "pointsRedeemed": { "type": "number" },
          "purchasesApr": { "type": "number" }
        }
      },
      "InsuranceAccountAkoya": {
        "type": "object",
        "allOf": [{ "$ref": "#/components/schemas/AccountInfoAkoya" }],
        "properties": {
          "policyCoverageAmount": { "type": "number" },
          "policyEndDate": { "type": "string" },
          "policyPremium": { "type": "number" },
          "policyPremiumTerm": { "type": "string" },
          "policyStartDate": { "type": "string" },
          "accountCategory": { "type": "string" }
        }
      },
      "AnnuityAccountAkoya": {
        "type": "object",
        "allOf": [{ "$ref": "#/components/schemas/AccountInfoAkoya" }],
        "properties": {
          "annualIncrease": { "type": "number" },
          "annualIncreaseType": { "type": "string" },
          "netPresentValue": { "type": "number" },
          "paymentAmount": { "type": "number" },
          "paymentEndDate": { "type": "string" },
          "paymentStartDate": { "type": "string" },
          "periodCertainGuarantee": { "type": "string" },
          "totalPaymentCount": { "type": "integer" },
          "annuityProductType": { "type": "string" },
          "annuityValueBasis": { "type": "string" },
          "paymentFrequency": { "type": "string" }
        }
      },
      "AccountDetailsAkoya": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "investmentAccount": {
              "$ref": "#/components/schemas/InvestmentAccountAkoya"
            },
            "depositAccount": {
              "$ref": "#/components/schemas/DepositAccountAkoya"
            },
            "loanAccount": { "$ref": "#/components/schemas/LoanAccountAkoya" },
            "locAccount": { "$ref": "#/components/schemas/LocAccountAkoya" },
            "insuranceAccount": {
              "$ref": "#/components/schemas/InsuranceAccountAkoya"
            },
            "annuityAccount": {
              "$ref": "#/components/schemas/AnnuityAccountAkoya"
            }
          }
        }
      },
      "AccountOwnerFinicity": {
        "type": "object",
        "properties": {
          "ownerName": { "type": "string" },
          "ownerAddress": { "type": "string" },
          "asOfDate": { "type": "integer", "format": "int64" }
        }
      },
      "AccountOwnerMx": {
        "type": "object",
        "properties": {
          "account_owners": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "guid": { "type": "string" },
                "user_guid": { "type": "string" },
                "member_guid": { "type": "string" },
                "account_guid": { "type": "string" },
                "owner_name": { "type": "string" },
                "address": { "type": "string" },
                "city": { "type": "string" },
                "state": { "type": "string" },
                "postal_code": { "type": "string" },
                "country": { "type": "string" },
                "email": { "type": "string" },
                "phone": { "type": "string" },
                "first_name": { "type": "string" },
                "last_name": { "type": "string" }
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "current_page": { "type": "integer" },
              "per_page": { "type": "integer" },
              "total_entries": { "type": "integer" },
              "total_pages": { "type": "integer" }
            }
          }
        }
      },
      "AccountOwnerYodlee": {
        "type": "object",
        "properties": {
          "holderProfile": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accountId": { "type": "integer", "format": "int64" },
                "address": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountAddressYodlee"
                  }
                },
                "phoneNumber": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PhoneNumberYodlee" }
                },
                "providerAccountId": { "type": "integer", "format": "int64" },
                "holder": {
                  "type": "object",
                  "properties": {
                    "ownership": { "type": "string" },
                    "name": { "$ref": "#/components/schemas/NameYodlee" }
                  }
                },
                "email": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/EmailYodlee" }
                }
              }
            }
          }
        }
      },
      "AccountOwnerAkoya": {
        "type": "object",
        "properties": {
          "customerId": { "type": "string" },
          "name": {
            "type": "object",
            "properties": {
              "first": { "type": "string" },
              "middle": { "type": "string" },
              "last": { "type": "string" },
              "prefix": { "type": "string" },
              "suffix": { "type": "string" },
              "company": { "type": "string" }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": { "type": "string" },
                "line1": { "type": "string" },
                "line2": { "type": "string" },
                "line3": { "type": "string" },
                "city": { "type": "string" },
                "state": { "type": "string" },
                "postalCode": { "type": "string" },
                "country": { "type": "string" }
              }
            }
          },
          "telephones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": { "type": "string" },
                "type": { "type": "string" },
                "country": { "type": "string" }
              }
            }
          },
          "email": { "type": "array", "items": { "type": "string" } }
        }
      },
      "TransactionsFiltersFinicity": {
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "Must be obtained from List ConsumerAccounts."
          },
          "consumer_id": { "type": "string" },
          "from_date": {
            "type": "integer",
            "format": "int64",
            "description": "Epoch timestamp (seconds)"
          },
          "to_date": {
            "type": "integer",
            "format": "int64",
            "description": "Epoch timestamp (seconds)"
          },
          "start": { "type": "integer", "minimum": 1 },
          "limit": { "type": "integer", "maximum": 1000 },
          "sort": { "type": "string", "enum": ["desc", "asc"] },
          "include_pending": { "type": "boolean" }
        },
        "required": [
          "account_id",
          "consumer_id",
          "from_date",
          "to_date",
          "start",
          "limit",
          "sort",
          "include_pending"
        ]
      },
      "TransactionsFiltersMx": {
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "Must be obtained from List ConsumerAccounts."
          },
          "consumer_id": { "type": "string" },
          "from_date": { "type": "string", "description": "YYYY-MM-DD" },
          "to_date": { "type": "string", "description": "YYYY-MM-DD" },
          "page": { "type": "integer", "minimum": 1 },
          "records_per_page": {
            "type": "integer",
            "maximum": 100,
            "minimum": 10
          }
        },
        "required": [
          "account_id",
          "consumer_id",
          "from_date",
          "to_date",
          "page",
          "records_per_page"
        ]
      },
      "TransactionsFiltersYodlee": {
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "Must be obtained from List ConsumerAccounts."
          },
          "consumer_id": { "type": "string" },
          "from_date": { "type": "string", "description": "YYYY-MM-DD" },
          "to_date": { "type": "string", "description": "YYYY-MM-DD" },
          "skip": { "type": "integer", "minimum": 0 },
          "top": { "type": "integer", "maximum": 100 }
        },
        "required": [
          "account_id",
          "consumer_id",
          "from_date",
          "to_date",
          "skip",
          "top"
        ]
      },
      "TransactionsFiltersAkoya": {
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "Must be obtained from List ConsumerAccounts."
          },
          "consumer_id": { "type": "string" },
          "start_time": {
            "type": "string",
            "description": "yyyy-mm-ddThh:mm:ssZ"
          },
          "end_time": {
            "type": "string",
            "description": "yyyy-mm-ddThh:mm:ssZ"
          },
          "offset": { "type": "integer" },
          "limit": { "type": "integer" }
        },
        "required": [
          "account_id",
          "consumer_id",
          "start_time",
          "end_time",
          "offset",
          "limit"
        ]
      },
      "TransactionsDataFinicity": {
        "type": "object",
        "properties": {
          "found": { "type": "integer" },
          "displaying": { "type": "integer" },
          "moreAvailable": { "type": "boolean" },
          "fromDate": { "type": "integer", "format": "int64" },
          "toDate": { "type": "integer", "format": "int64" },
          "sort": { "type": "string" },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer", "format": "int64" },
                "amount": { "type": "number", "format": "float" },
                "customerId": { "type": "integer" },
                "status": { "type": "string" },
                "description": { "type": "string" },
                "memo": { "type": "string" },
                "type": { "type": "string" },
                "transactionDate": { "type": "integer", "format": "int64" },
                "postedDate": { "type": "integer", "format": "int64" },
                "createdDate": { "type": "integer", "format": "int64" },
                "firstEffectiveDate": { "type": "integer", "format": "int64" },
                "optionExpireDate": { "type": "integer", "format": "int64" },
                "checkNum": { "type": "integer" },
                "escrowAmount": { "type": "number", "format": "float" },
                "suspenseAmount": { "type": "number", "format": "float" },
                "interestAmount": { "type": "number", "format": "float" },
                "principalAmount": { "type": "number", "format": "float" },
                "optionStrikePrice": { "type": "number", "format": "float" },
                "unitQuantity": { "type": "integer" },
                "unitPrice": { "type": "number", "format": "float" },
                "categorization": {
                  "type": "object",
                  "properties": {
                    "normalizedPayeeName": { "type": "string" },
                    "category": { "type": "string" },
                    "state": { "type": "string" },
                    "postalCode": { "type": "string" },
                    "country": { "type": "string" },
                    "bestRepresentation": { "type": "string" }
                  }
                },
                "runningBalanceAmount": {
                  "type": "number",
                  "format": "float32"
                },
                "subAccountSecurityType": { "type": "string" },
                "commissionAmount": { "type": "integer" },
                "ticker": { "type": "string" },
                "investmentTransactionType": { "type": "string" },
                "taxesAmount": { "type": "number", "format": "float" },
                "currencySymbol": { "type": "string" },
                "incomeType": { "type": "string" },
                "splitDenominator": { "type": "number", "format": "float" },
                "splitNumerator": { "type": "number", "format": "float" },
                "sharesPerContract": { "type": "number", "format": "float" },
                "subAccountFund": { "type": "string" },
                "securityId": { "type": "string" },
                "securityType": { "type": "string" }
              }
            }
          }
        }
      },
      "TransactionsDataMx": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "current_page": { "type": "integer" },
              "per_page": { "type": "integer" },
              "total_entries": { "type": "integer" },
              "total_pages": { "type": "integer" }
            }
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "account_guid": { "type": "string" },
                "account_id": { "type": "string" },
                "amount": { "type": "number", "format": "float32" },
                "category": { "type": "string" },
                "category_guid": { "type": "string" },
                "check_number_string": { "type": "string" },
                "created_at": { "type": "string" },
                "currency_code": { "type": "string" },
                "date": { "type": "string" },
                "description": { "type": "string" },
                "guid": { "type": "string" },
                "id": { "type": "string" },
                "is_bill_pay": { "type": "boolean" },
                "is_direct_deposit": { "type": "boolean" },
                "is_expense": { "type": "boolean" },
                "is_fee": { "type": "boolean" },
                "is_income": { "type": "boolean" },
                "is_international": { "type": "boolean" },
                "is_overdraft_fee": { "type": "boolean" },
                "is_payroll_advance": { "type": "boolean" },
                "is_recurring": { "type": "boolean" },
                "is_subscription": { "type": "boolean" },
                "latitude": { "type": "number", "format": "float" },
                "localized_description": { "type": "string" },
                "localized_memo": { "type": "string" },
                "longitude": { "type": "number", "format": "float32" },
                "member_guid": { "type": "string" },
                "member_is_managed_by_user": { "type": "boolean" },
                "memo": { "type": "string" },
                "merchant_category_code": { "type": "integer" },
                "merchant_location_guid": { "type": "string" },
                "original_description": { "type": "string" },
                "posted_at": { "type": "string" },
                "status": { "type": "string" },
                "top_level_category": { "type": "string" },
                "transacted_at": { "type": "string" },
                "type": { "type": "string" },
                "updated_at": { "type": "string" },
                "user_guid": { "type": "string" },
                "user_id": { "type": "string" }
              }
            }
          }
        }
      },
      "TransactionsDataYodlee": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": { "type": "string" },
                "sourceId": { "type": "string" },
                "symbol": { "type": "string" },
                "cusipNumber": { "type": "string" },
                "highLeveCategoryId": { "type": "string" },
                "detailCategoryId": { "type": "string" },
                "description": {
                  "type": "object",
                  "properties": {
                    "security": { "type": "string" },
                    "original": { "type": "string" },
                    "simple": { "type": "string" },
                    "consumer": { "type": "string" }
                  }
                },
                "memo": { "type": "string" },
                "settleDate": { "type": "string" },
                "type": { "type": "string" },
                "intermediary": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "baseType": { "type": "string" },
                "categorySource": { "type": "string" },
                "principal": { "$ref": "#/components/schemas/MoneyYodlee" },
                "lastUpdated": { "type": "string" },
                "interest": { "$ref": "#/components/schemas/MoneyYodlee" },
                "price": { "$ref": "#/components/schemas/MoneyYodlee" },
                "commission": { "$ref": "#/components/schemas/MoneyYodlee" },
                "id": { "type": "integer" },
                "merchantType": { "type": "string" },
                "amount": { "$ref": "#/components/schemas/MoneyYodlee" },
                "checkNumber": { "type": "string" },
                "isPhysical": { "type": "boolean" },
                "quantity": { "type": "number", "format": "float" },
                "valoren": { "type": "string" },
                "isManual": { "type": "boolean" },
                "merchant": {
                  "type": "object",
                  "properties": {
                    "website": { "type": "string" },
                    "address": {
                      "$ref": "#/components/schemas/AccountAddressYodlee"
                    },
                    "contact": {
                      "type": "object",
                      "properties": {
                        "phone": { "type": "string" },
                        "email": { "type": "string" }
                      }
                    },
                    "categoryLabel": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "coordinates": {
                      "type": "object",
                      "properties": {
                        "latitude": { "format": "float", "type": "number" },
                        "longitude": { "format": "float", "type": "number" }
                      }
                    },
                    "name": { "type": "string" },
                    "id": { "type": "string" },
                    "source": { "type": "string" },
                    "logoURL": { "type": "string" }
                  }
                },
                "sedol": { "type": "string" },
                "transactionDate": { "type": "string" },
                "categoryType": { "type": "string" },
                "accountId": { "type": "integer" },
                "createdDate": { "type": "string" },
                "sourceType": { "type": "string" },
                "container": { "type": "string" },
                "postDate": { "type": "string" },
                "parentCategoryId": { "type": "integer" },
                "subType": { "type": "string" },
                "category": { "type": "string" },
                "runningBalance": {
                  "$ref": "#/components/schemas/MoneyYodlee"
                },
                "categoryid": { "type": "integer" },
                "holdingDescription": { "type": "string" },
                "isin": { "type": "string" },
                "status": { "type": "string" }
              }
            }
          }
        }
      },
      "HateosLinkAkoya": {
        "type": "object",
        "properties": {
          "href": { "type": "string" },
          "action": { "type": "string" },
          "types": { "type": "array", "items": { "type": "string" } }
        }
      },
      "LineItemAkoya": {
        "type": "object",
        "properties": {
          "amount": { "type": "number" },
          "checkNumber": { "type": "integer" },
          "description": { "type": "string" },
          "imageIds": { "type": "array", "items": { "type": "string" } },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HateosLinkAkoya" }
          },
          "memo": { "type": "string" },
          "reference": { "type": "string" }
        }
      },
      "DepositTransactionAkoya": {
        "type": "object",
        "properties": {
          "accountId": { "type": "string" },
          "amount": { "type": "number" },
          "category": { "type": "string" },
          "debitCreditMemo": { "type": "string" },
          "description": { "type": "string" },
          "imageIds": { "type": "array", "items": { "type": "string" } },
          "fiAttributes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FiAttributeAkoya" }
          },
          "foreignAmount": { "type": "number" },
          "foreignCurrency": { "type": "string" },
          "lineItem": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LineItemAkoya" }
          },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HateosLinkAkoya" }
          },
          "memo": { "type": "string" },
          "postedTimestamp": { "type": "string" },
          "reference": { "type": "string" },
          "referenceTransactionId": { "type": "string" },
          "status": { "type": "string" },
          "subCategory": { "type": "string" },
          "transactionId": { "type": "string" },
          "transactionTimestamp": { "type": "string" },
          "payee": { "type": "string" },
          "checkNumber": { "type": "integer" },
          "transactionType": { "type": "string" }
        }
      },
      "InvestmentTransactionAkoya": {
        "type": "object",
        "properties": {
          "accountId": { "type": "string" },
          "amount": { "type": "number" },
          "category": { "type": "string" },
          "debitCreditMemo": { "type": "string" },
          "description": { "type": "string" },
          "imageIds": { "type": "array", "items": { "type": "string" } },
          "fiAttributes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FiAttributeAkoya" }
          },
          "foreignAmount": { "type": "number" },
          "foreignCurrency": { "type": "string" },
          "lineItem": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LineItemAkoya" }
          },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HateosLinkAkoya" }
          },
          "memo": { "type": "string" },
          "postedTimestamp": { "type": "string" },
          "reference": { "type": "string" },
          "referenceTransactionId": { "type": "string" },
          "status": { "type": "string" },
          "subCategory": { "type": "string" },
          "transactionId": { "type": "string" },
          "transactionTimestamp": { "type": "string" },
          "accruedInterest": { "type": "number" },
          "commission": { "type": "number" },
          "confirmationNumber": { "type": "string" },
          "faceValue": { "type": "number" },
          "fees": { "type": "number" },
          "fractionalCash": { "type": "number" },
          "gain": { "type": "number" },
          "incomeType": { "type": "string" },
          "inv401kSource": { "type": "string" },
          "load": { "type": "number" },
          "loanId": { "type": "string" },
          "loanInterest": { "type": "number" },
          "loanPrincipal": { "type": "number" },
          "markup": { "type": "number" },
          "newUnits": { "type": "number" },
          "oldUnits": { "type": "number" },
          "payrollDate": { "type": "string" },
          "penalty": { "type": "number" },
          "positionType": { "type": "string" },
          "price": { "type": "number" },
          "priorYearContrib": { "type": "boolean" },
          "runningBalance": { "type": "number" },
          "securityId": { "type": "string" },
          "securityIdType": { "type": "string" },
          "securityType": { "type": "string" },
          "shares": { "type": "number" },
          "splitRatioDenominator": { "type": "number" },
          "splitRatioNumerator": { "type": "number" },
          "stateWithholding": { "type": "number" },
          "subAccountFund": { "type": "string" },
          "subAccountSec": { "type": "string" },
          "symbol": { "type": "string" },
          "taxes": { "type": "number" },
          "taxExempt": { "type": "boolean" },
          "transactionReason": { "type": "string" },
          "transactionType": { "type": "string" },
          "transferAction": { "type": "string" },
          "unitPrice": { "type": "number" },
          "units": { "type": "number" },
          "unitType": { "type": "string" },
          "withholding": { "type": "number" }
        }
      },
      "PaymentDetailAkoya": {
        "type": "object",
        "properties": {
          "escrowAmount": { "type": "number" },
          "feesAmount": { "type": "number" },
          "insuranceAmount": { "type": "number" },
          "interestAmount": { "type": "number" },
          "pmiAmount": { "type": "number" },
          "principalAmount": { "type": "number" }
        }
      },
      "LoanTransactionAkoya": {
        "type": "object",
        "properties": {
          "accountId": { "type": "string" },
          "amount": { "type": "number" },
          "category": { "type": "string" },
          "debitCreditMemo": { "type": "string" },
          "description": { "type": "string" },
          "imageIds": { "type": "array", "items": { "type": "string" } },
          "fiAttributes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FiAttributeAkoya" }
          },
          "foreignAmount": { "type": "number" },
          "foreignCurrency": { "type": "string" },
          "lineItem": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LineItemAkoya" }
          },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HateosLinkAkoya" }
          },
          "memo": { "type": "string" },
          "postedTimestamp": { "type": "string" },
          "reference": { "type": "string" },
          "referenceTransactionId": { "type": "string" },
          "status": { "type": "string" },
          "subCategory": { "type": "string" },
          "transactionId": { "type": "string" },
          "transactionTimestamp": { "type": "string" },
          "paymentDetails": {
            "$ref": "#/components/schemas/PaymentDetailAkoya"
          },
          "transactionType": { "type": "string" }
        }
      },
      "LocTransactionAkoya": {
        "type": "object",
        "properties": {
          "accountId": { "type": "string" },
          "amount": { "type": "number" },
          "category": { "type": "string" },
          "debitCreditMemo": { "type": "string" },
          "description": { "type": "string" },
          "imageIds": { "type": "array", "items": { "type": "string" } },
          "fiAttributes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FiAttributeAkoya" }
          },
          "foreignAmount": { "type": "number" },
          "foreignCurrency": { "type": "string" },
          "lineItem": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LineItemAkoya" }
          },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HateosLinkAkoya" }
          },
          "memo": { "type": "string" },
          "postedTimestamp": { "type": "string" },
          "reference": { "type": "string" },
          "referenceTransactionId": { "type": "string" },
          "status": { "type": "string" },
          "subCategory": { "type": "string" },
          "transactionId": { "type": "string" },
          "transactionTimestamp": { "type": "string" },
          "paymentDetails": {
            "$ref": "#/components/schemas/PaymentDetailAkoya"
          },
          "transactionType": { "type": "string" }
        }
      },
      "InsuranceTransactionAkoya": {
        "type": "object",
        "properties": {
          "accountId": { "type": "string" },
          "amount": { "type": "number" },
          "category": { "type": "string" },
          "debitCreditMemo": { "type": "string" },
          "description": { "type": "string" },
          "imageIds": { "type": "array", "items": { "type": "string" } },
          "fiAttributes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FiAttributeAkoya" }
          },
          "foreignAmount": { "type": "number" },
          "foreignCurrency": { "type": "string" },
          "lineItem": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LineItemAkoya" }
          },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HateosLinkAkoya" }
          },
          "memo": { "type": "string" },
          "postedTimestamp": { "type": "string" },
          "reference": { "type": "string" },
          "referenceTransactionId": { "type": "string" },
          "status": { "type": "string" },
          "subCategory": { "type": "string" },
          "transactionId": { "type": "string" },
          "transactionTimestamp": { "type": "string" },
          "transactionType": { "type": "string" }
        }
      },
      "TransactionsDataAkoya": {
        "type": "object",
        "properties": {
          "depositTransaction": {
            "$ref": "#/components/schemas/DepositTransactionAkoya"
          },
          "investmentTransaction": {
            "$ref": "#/components/schemas/InvestmentTransactionAkoya"
          },
          "loanTransaction": {
            "$ref": "#/components/schemas/LoanTransactionAkoya"
          },
          "locTransaction": {
            "$ref": "#/components/schemas/LocTransactionAkoya"
          },
          "insuranceTransaction": {
            "$ref": "#/components/schemas/InsuranceTransactionAkoya"
          }
        }
      },
      "V4.0_ReqTransUnion": {
        "type": "object",
        "properties": {
          "consumer_id": { "type": "string", "minLength": 4, "maxLength": 10 },
          "first_name": { "type": "string", "minLength": 1, "maxLength": 20 },
          "middle_name": { "type": "string", "minLength": 1, "maxLength": 20 },
          "last_name": { "type": "string", "minLength": 1, "maxLength": 32 },
          "suffixName": {
            "type": "string",
            "enum": ["Jr", "Sr", "III", "V", "VI", "VII", "VIII", "IX", "X"]
          },
          "street1": { "type": "string", "maxLength": 48 },
          "city": { "type": "string" },
          "postal_code": { "type": "string", "minLength": 5, "maxLength": 10 },
          "state": { "type": "string", "minLength": 2, "maxLength": 2 },
          "dob": { "type": "string", "format": "date" },
          "ssn": { "type": "string", "minLength": 4, "maxLength": 11 },
          "phone": { "type": "string" }
        },
        "required": [
          "consumer_id",
          "first_name",
          "last_name",
          "street1",
          "city",
          "state",
          "postal_code",
          "ssn"
        ]
      },
      "V4.0_ReqEquifax": {
        "type": "object",
        "properties": {
          "consumer_id": { "type": "string", "minLength": 4, "maxLength": 10 },
          "first_name": { "type": "string", "minLength": 1, "maxLength": 15 },
          "middle_name": { "type": "string", "minLength": 1, "maxLength": 15 },
          "last_name": { "type": "string", "minLength": 1, "maxLength": 25 },
          "suffixName": {
            "type": "string",
            "enum": ["Jr", "Sr", "III", "V", "VI", "VII", "VIII", "IX", "X"]
          },
          "streetName": { "type": "string", "maxLength": 26 },
          "streetType": { "type": "string", "maxLength": 10 },
          "houseNumber": { "type": "string", "maxLength": 10 },
          "apartmentNumber": { "type": "string", "maxLength": 5 },
          "quadrant": { "type": "string", "minLength": 1, "maxLength": 2 },
          "city": { "type": "string" },
          "postal_code": { "type": "string", "minLength": 5, "maxLength": 9 },
          "state": { "type": "string", "minLength": 2, "maxLength": 2 },
          "dob": { "type": "string", "format": "date" },
          "ssn": { "type": "string", "minLength": 4, "maxLength": 11 },
          "phone": { "type": "string" }
        },
        "required": [
          "consumer_id",
          "first_name",
          "last_name",
          "streetName",
          "streetType",
          "houseNumber",
          "city",
          "state",
          "postal_code",
          "ssn"
        ]
      },
      "V4.0_ReqExperian": {
        "type": "object",
        "properties": {
          "consumer_id": { "type": "string", "minLength": 4, "maxLength": 10 },
          "first_name": { "type": "string", "minLength": 1, "maxLength": 20 },
          "middle_name": { "type": "string", "minLength": 1, "maxLength": 20 },
          "last_name": { "type": "string", "minLength": 1, "maxLength": 32 },
          "suffixName": {
            "type": "string",
            "enum": ["Jr", "Sr", "III", "V", "VI", "VII", "VIII", "IX", "X"]
          },
          "street1": { "type": "string", "maxLength": 48 },
          "street2": { "type": "string", "maxLength": 40 },
          "city": { "type": "string" },
          "postal_code": { "type": "string", "minLength": 5, "maxLength": 10 },
          "state": { "type": "string", "minLength": 2, "maxLength": 2 },
          "dob": { "type": "string", "format": "date" },
          "ssn": { "type": "string", "minLength": 4, "maxLength": 11 },
          "phone": { "type": "string" }
        },
        "required": [
          "consumer_id",
          "first_name",
          "last_name",
          "street1",
          "city",
          "state",
          "postal_code",
          "ssn"
        ]
      },
      "V4.0_TransUnion": {
        "type": "object",
        "properties": {
          "score": {
            "type": "object",
            "properties": {
[...]
