{
  "openapi": "3.1.0",
  "info": {
    "version": "0.3",
    "title": "Websitebuilder public API",
    "description": "Public WSB API for third party clients.  \nPrefix: `/api/pub`.\n"
  },
  "servers": [{ "url": "https://api.websitebuilder.one.com/api/pub" }],
  "paths": {
    "/vX/brands": {
      "get": {
        "summary": "Get brands list",
        "description": "Brands discovery endpoint.  \nRequires special `root` client acccess token\n",
        "parameters": [
          {
            "name": "env",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["prod", "staging", "phase", "next", "test"],
              "default": "prod"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Brand" }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "500": { "description": "Internal Server Error. Contact devs" }
        },
        "tags": ["Brands"]
      }
    },
    "/vX/brands/{codeName}": {
      "get": {
        "summary": "Get information for specific brand",
        "parameters": [
          {
            "name": "codeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["onecom", "hostnet", "checkdomain"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Brand" }
              }
            }
          }
        },
        "tags": ["Brands"]
      }
    },
    "/v2/{brand}/sites": {
      "post": {
        "summary": "Create a site",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domainName": { "type": "string", "examples": ["foo.bar"] }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Site" }
              }
            }
          }
        },
        "tags": ["V2"]
      },
      "get": {
        "summary": "List sites",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Site" }
                }
              }
            }
          }
        },
        "tags": ["V2"]
      },
      "parameters": [{ "$ref": "#/components/parameters/brandInPath" }]
    },
    "/v2/{brand}/site/{siteId}": {
      "get": {
        "summary": "Get site details",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Site" }
              }
            }
          }
        },
        "tags": ["V2"]
      },
      "delete": {
        "summary": "Delete site & deprovision its data",
        "description": "Site data grace period should be maintained in the upstream ?",
        "responses": { "204": { "description": "Site is deleted" } },
        "tags": ["V2"]
      },
      "parameters": [
        { "$ref": "#/components/parameters/brandInPath" },
        { "$ref": "#/components/parameters/siteInPath" }
      ]
    },
    "/v2/{brand}/site/{siteId}/sso": {
      "post": {
        "summary": "Generate WSB SSO for a domain",
        "parameters": [
          { "$ref": "#/components/parameters/brandInPath" },
          { "$ref": "#/components/parameters/siteInPath" }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ssoUrl": {
                      "type": "string",
                      "examples": [
                        "https://websitebuilder.hostnet.nl/sso?tkn=;lksaj;dlkfajs"
                      ]
                    },
                    "expirationTime": {
                      "type": "number",
                      "description": "SSO url expiration UNIX timestamp in milliseconds",
                      "examples": [1618388591058]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["V2"]
      }
    }
  },
  "components": {
    "securitySchemes": { "BearerAuth": { "type": "http", "scheme": "bearer" } },
    "schemas": {
      "Brand": {
        "type": "object",
        "properties": {
          "codeName": {
            "type": "string",
            "enum": ["onecom", "hostnet", "checkdomain"],
            "examples": ["hostnet"]
          }
        }
      },
      "Site": {
        "type": "object",
        "properties": {
          "siteId": { "type": "string", "examples": ["654564876873673"] },
          "domainName": { "type": "string", "examples": ["foo.bar"] }
        }
      }
    },
    "parameters": {
      "brandInPath": {
        "name": "brand",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "examples": ["foo.bar"] }
      },
      "siteInPath": {
        "name": "siteId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "examples": ["646576876575643"] }
      }
    }
  }
}
