{
  "openapi": "3.1.0",
  "info": {
    "title": "AIRBIT IoT Workspace REST API",
    "description": "This API is intended to work with the application **AIRBIT IoT Workspace** .",
    "contact": { "name": "AIRBIT", "url": "https://air-bit.ru/" },
    "version": "2.0.1"
  },
  "servers": [
    { "url": "http://geo-api.air-bit.ru:8081/", "description": "Mock Server" }
  ],
  "paths": {
    "/auth/login/": {
      "post": {
        "tags": ["Auth"],
        "summary": "User login",
        "description": "User login",
        "operationId": "login_user",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          }
        },
        "deprecated": true
      }
    },
    "/auth/logout/": {
      "post": {
        "tags": ["Auth"],
        "summary": "User logout",
        "description": "User logout",
        "operationId": "logout_user",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          }
        },
        "deprecated": true
      }
    },
    "/auth/register/": {
      "post": {
        "tags": ["Auth"],
        "summary": "User register",
        "description": "User register",
        "operationId": "register_user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserRegisterScheme" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/auth/confirm-register/{token}/": {
      "post": {
        "tags": ["Auth"],
        "summary": "User confirm register",
        "description": "User confirm register",
        "operationId": "confirm_register",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Token" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/auth/recovery/": {
      "post": {
        "tags": ["Auth"],
        "summary": "User recovery password by email or phone",
        "description": "User recovery password by email or phone",
        "operationId": "recovery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRecoveryPasswordScheme"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/auth/reset/{token}/": {
      "post": {
        "tags": ["Auth"],
        "summary": "Reset user password",
        "description": "Reset user password",
        "operationId": "reset_password",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Token" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResetPasswordScheme" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/dashboard/": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Get a list of dashboards",
        "description": "Get a list of dashboards",
        "operationId": "get_dashboards",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListDictItemScheme" }
              }
            }
          }
        },
        "security": [{ "AWSAuthenticator": [] }]
      }
    },
    "/dashboard/{id}/": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Get a list of dashboards",
        "description": "Get a list of dashboards",
        "operationId": "get_dashboard",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DictItemScheme" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Dashboard"],
        "summary": "Update dashboard by id",
        "description": "Update dashboard by id",
        "operationId": "update_dashboard",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DashboardScheme" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DictItemBaseScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Dashboard"],
        "summary": "Delete dashboard by id",
        "description": "Delete dashboard by id",
        "operationId": "delete_dashboard",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique dashboard id",
              "title": "Id"
            },
            "description": "unique dashboard id"
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/dashboard/{id}/full-struct/": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Get full struct dashboard by id",
        "description": "Get full struct dashboard by id",
        "operationId": "get_dashboard_full_struct",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardFullStructScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/dashboard/{dash_type}/": {
      "post": {
        "tags": ["Dashboard"],
        "summary": "Add dashboard",
        "description": "Add dashboard",
        "operationId": "add_dashboard",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "dash_type",
            "in": "path",
            "required": true,
            "schema": { "$ref": "#/components/schemas/DashboardType" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DashboardScheme" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DictItemBaseScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/addresses/": {
      "get": {
        "tags": ["Addresses"],
        "summary": "Get a list of addresses",
        "description": "Get a list of addresses",
        "operationId": "get_addresses",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Status" }],
              "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n ",
              "title": "Status"
            },
            "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_AddressNodeScheme_"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Addresses"],
        "summary": "Add address",
        "description": "Add address",
        "operationId": "add_address",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressNodeScheme"
              },
              "examples": {
                "address_root": {
                  "summary": "Address node(root)",
                  "description": "Address node(root)",
                  "value": {
                    "company_id": 1,
                    "status": 2,
                    "name": "Volodarskogo",
                    "prefix": "str.",
                    "postfix": "62k2"
                  }
                },
                "address_node": {
                  "summary": "Address node",
                  "description": "Address node",
                  "value": {
                    "company_id": 1,
                    "status": 2,
                    "parent_id": 1,
                    "name": "Volodarskogo",
                    "prefix": "str.",
                    "postfix": "62k2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AddressNodeScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/addresses/{id}/": {
      "get": {
        "tags": ["Addresses"],
        "summary": "Get address by id",
        "description": "Get address by id",
        "operationId": "get_address",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AddressNodeScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Addresses"],
        "summary": "Update address by id",
        "description": "Update address by id",
        "operationId": "update_address",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAddressNode" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AddressNodeScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Addresses"],
        "summary": "Delete address by id",
        "description": "Delete address by id",
        "operationId": "delete_address",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/addresses/{addr_id}/norm/": {
      "get": {
        "tags": ["Addresses"],
        "summary": "Get a list of norms",
        "description": "Get a list of norms",
        "operationId": "get_norms",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "addr_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "address id",
              "title": "Addr Id"
            },
            "description": "address id"
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "object metric group id",
              "title": "Group Id"
            },
            "description": "object metric group id"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_AddressNodeNormScheme_"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Addresses"],
        "summary": "Add address norm",
        "description": "Add address norm",
        "operationId": "create_norm",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "addr_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "address id",
              "title": "Addr Id"
            },
            "description": "address id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressNormScheme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressNodeNormScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/addresses/{addr_id}/norm/{id}/": {
      "get": {
        "tags": ["Addresses"],
        "summary": "Get address norm",
        "description": "Get address norm",
        "operationId": "get_norm",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "norm id",
              "title": "Id"
            },
            "description": "norm id"
          },
          {
            "name": "addr_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "address id",
              "title": "Addr Id"
            },
            "description": "address id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressNodeNormScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Addresses"],
        "summary": "Update address norm",
        "description": "Update address norm",
        "operationId": "update_norm",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "addr_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "address id",
              "title": "Addr Id"
            },
            "description": "address id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressNormScheme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressNodeNormScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Addresses"],
        "summary": "Delete address norm by id",
        "description": "Delete address norm by id",
        "operationId": "delete_norm",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "address norm id",
              "title": "Id"
            },
            "description": "address norm id"
          },
          {
            "name": "addr_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "address id",
              "title": "Addr Id"
            },
            "description": "address id"
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/devices/": {
      "get": {
        "tags": ["Device"],
        "summary": "Get a list of devices",
        "description": "Get a list of devices",
        "operationId": "get_devices",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "addr_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "unique address identifier",
              "title": "Addr Id"
            },
            "description": "unique address identifier"
          },
          {
            "name": "group_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": { "type": "integer" },
              "description": "list of unique group identifiers",
              "title": "Group Ids"
            },
            "description": "list of unique group identifiers"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Status" }],
              "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n ",
              "title": "Status"
            },
            "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Page_DeviceScheme_" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Device"],
        "summary": "Add device",
        "description": "Add device",
        "operationId": "add_device",
        "security": [{ "AWSAuthenticator": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateDeviceScheme" },
              "examples": {
                "base_device": {
                  "summary": "Base device",
                  "description": "Base example device scheme",
                  "value": {
                    "name": "Test device",
                    "net_id_type_id": 1,
                    "net_id": "FFFFFFFFFFFFFFFA",
                    "conv_group_id": 1,
                    "groups": [1, 2],
                    "longitude": 73.86035,
                    "latitude": 67.63456,
                    "altitude": 87,
                    "comments": "This test Device base dcheme"
                  }
                },
                "template_device": {
                  "summary": "Template device",
                  "description": "Base example template device scheme",
                  "value": {
                    "name": "Test device",
                    "net_id_type_id": 1,
                    "net_id": "FFFFFFFFFFFFFFFA",
                    "templ_id": 1,
                    "groups": [1, 2],
                    "longitude": 73.86035,
                    "latitude": 67.63456,
                    "altitude": 87,
                    "comments": "This test Device base dcheme"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeviceScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/devices/{id}/": {
      "get": {
        "tags": ["Device"],
        "summary": "Get device by id",
        "description": "Get device by id",
        "operationId": "get_device",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique device id",
              "title": "Id"
            },
            "description": "unique device id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeviceScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Device"],
        "summary": "Update device by id",
        "description": "Update device by id",
        "operationId": "update_device",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateDeviceScheme" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeviceScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Device"],
        "summary": "Delete device by id",
        "description": "Delete device by id",
        "operationId": "delete_device",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique device id",
              "title": "Id"
            },
            "description": "unique device id"
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/groups/{type}/": {
      "get": {
        "tags": ["Groups"],
        "summary": "Get a list of groups",
        "description": "Get a list of groups",
        "operationId": "get_groups",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/GroupType" }],
              "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n ",
              "title": "Type"
            },
            "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n "
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Status" }],
              "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n ",
              "title": "Status"
            },
            "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Page_GroupScheme_" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Groups"],
        "summary": "Add group",
        "description": "Add group",
        "operationId": "add_group",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/GroupType" }],
              "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n ",
              "title": "Type"
            },
            "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n "
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateGroupScheme" },
              "examples": {
                "device_group": {
                  "summary": "Device group",
                  "description": "Device group",
                  "value": {
                    "company_id": 1,
                    "status": 2,
                    "name": "Test device group",
                    "comments": "This test device group",
                    "color": "#a94d4d",
                    "is_virtual": false
                  }
                },
                "object_group": {
                  "summary": "Object group",
                  "description": "Object group",
                  "value": {
                    "company_id": 1,
                    "status": 2,
                    "name": "Test object group",
                    "comments": "This test device group",
                    "color": "#a94d4d",
                    "is_virtual": true,
                    "num_expr": "og",
                    "tagged_groups": [{ "tag": "og", "tagged_group_id": 1 }]
                  }
                },
                "object_metric_group": {
                  "summary": "Object metric group",
                  "description": "Object group",
                  "value": {
                    "company_id": 1,
                    "status": 2,
                    "name": "Test object metric group",
                    "comments": "This test object metric group",
                    "color": "#a94d4d",
                    "is_virtual": true,
                    "num_expr": "m+g",
                    "tagged_groups": [
                      { "tag": "m", "tagged_group_id": 1 },
                      { "tag": "g", "tagged_group_id": 2 }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupFullStructScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/groups/{type}/{id}/": {
      "get": {
        "tags": ["Groups"],
        "summary": "Get group by id",
        "description": "Get group by id",
        "operationId": "get_group",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/GroupType" }],
              "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n ",
              "title": "Type"
            },
            "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n "
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupFullStructScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Groups"],
        "summary": "Update group by id",
        "description": "Update group by id",
        "operationId": "update_group",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique group id",
              "title": "Id"
            },
            "description": "unique group id"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/GroupType" }],
              "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n ",
              "title": "Type"
            },
            "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n "
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Groups"],
        "summary": "Delete group by id",
        "description": "Delete group by id",
        "operationId": "delete_group",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/GroupType" }],
              "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n ",
              "title": "Type"
            },
            "description": "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n \n * 3 - ObjectMetricGroup \n "
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique group id",
              "title": "Id"
            },
            "description": "unique group id"
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/device-netid-types/": {
      "get": {
        "tags": ["Device NetId types"],
        "summary": "Get a list of device net id types",
        "description": "Get a list of device net id types",
        "operationId": "get_device_net_id_types",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Status" }],
              "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n ",
              "title": "Status"
            },
            "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_DeviceNetIdTypeScheme_"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Device NetId types"],
        "summary": "Add device net id type",
        "description": "Add device net id type",
        "operationId": "add_device_net_id_type",
        "security": [{ "AWSAuthenticator": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeviceNetIdTypeScheme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceNetIdTypeScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/device-netid-types/{id}/": {
      "get": {
        "tags": ["Device NetId types"],
        "summary": "Get device net id type by id",
        "description": "Get device net id type by id",
        "operationId": "get_device_net_id_type",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceNetIdTypeScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Device NetId types"],
        "summary": "Update device net id type by id",
        "description": "Update device net id type by id",
        "operationId": "update_device_net_id_type",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeviceNetIdTypeScheme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceNetIdTypeScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Device NetId types"],
        "summary": "Delete device net id type by id",
        "description": "Delete device net id type by id",
        "operationId": "delete_device_net_id_type",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/objects/favorite/": {
      "post": {
        "tags": ["Object"],
        "summary": "Add object to dashboard",
        "description": "Add object to dashboard",
        "operationId": "favorite_object",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "obj_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "title": "Obj Id" }
          },
          {
            "name": "dash_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "title": "Dash Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/objects/{id}/full-object-struct/": {
      "get": {
        "tags": ["Object"],
        "summary": "Metrics of the object",
        "description": "Metrics of the object",
        "operationId": "full_object_struct",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique object id",
              "title": "Id"
            },
            "description": "unique object id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectFullStructScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/objects/": {
      "get": {
        "tags": ["Object"],
        "summary": "Get a list of objects",
        "description": "Get a list of objects",
        "operationId": "get_objects",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "addr_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "unique address identifier",
              "title": "Addr Id"
            },
            "description": "unique address identifier"
          },
          {
            "name": "group_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": { "type": "integer" },
              "description": "list of unique group identifiers",
              "title": "Group Ids"
            },
            "description": "list of unique group identifiers"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Status" }],
              "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n ",
              "title": "Status"
            },
            "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_ObjectBaseScheme_"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Object"],
        "summary": "Add object",
        "description": "Add object",
        "operationId": "add_object",
        "security": [{ "AWSAuthenticator": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateObjectScheme" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ObjectBaseScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/objects/{id}/": {
      "get": {
        "tags": ["Object"],
        "summary": "Get object by id",
        "description": "Get object by id",
        "operationId": "get_object",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique object id",
              "title": "Id"
            },
            "description": "unique object id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ObjectBaseScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Object"],
        "summary": "Update object by id",
        "description": "Update object by id",
        "operationId": "update_object",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateObjectScheme" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ObjectBaseScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Object"],
        "summary": "Delete object by id",
        "description": "Delete object by id",
        "operationId": "delete_object",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique object id",
              "title": "Id"
            },
            "description": "unique object id"
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/objects/object-types/": {
      "get": {
        "tags": ["Object"],
        "summary": "Get a list of object types",
        "description": "Get a list of object types",
        "operationId": "get_object_types",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "conv_attach",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/ConvAttach" }],
              "description": "ConvAttach: \n * 1 - Sync \n \n * 2 - Unsync \n ",
              "title": "Conv Attach"
            },
            "description": "ConvAttach: \n * 1 - Sync \n \n * 2 - Unsync \n "
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Status" }],
              "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n ",
              "title": "Status"
            },
            "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_ObjectTypeBaseScheme_"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/objects/object-types/{id}/": {
      "get": {
        "tags": ["Object"],
        "summary": "Get object type by id",
        "description": "Get object type by id",
        "operationId": "get_object_type",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "unique object type id",
              "title": "Id"
            },
            "description": "unique object type id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectTypeBaseScheme"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/objects/object-types/{id}/full-struct/": {
      "get": {
        "tags": ["Object"],
        "summary": "Get full struct of object type by id",
        "description": "Get full struct of object type by id",
        "operationId": "get_object_type_full_struct",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "unique object type id",
              "title": "Id"
            },
            "description": "unique object type id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectTypeFullStructScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/objects/object-type/": {
      "post": {
        "tags": ["Object"],
        "summary": "Add object type",
        "description": "Add object type",
        "operationId": "create_object_type",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateObjectTypeScheme"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectTypeFullStructScheme"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }]
      }
    },
    "/objects/object-type/{id}/": {
      "put": {
        "tags": ["Object"],
        "summary": "Update object type by id",
        "description": "Update object type by id",
        "operationId": "update_object_types",
        "deprecated": true,
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "unique object type id",
              "title": "Id"
            },
            "description": "unique object type id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Object"],
        "summary": "Delete object type by id",
        "description": "Delete object type by id",
        "operationId": "delete_object_type",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "unique object id",
              "title": "Id"
            },
            "description": "unique object id"
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/templates/": {
      "get": {
        "tags": ["Templates"],
        "summary": "Get a list of templates",
        "description": "Get a list of templates",
        "operationId": "get_templates",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Status" }],
              "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n ",
              "title": "Status"
            },
            "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_TemplateScheme_"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Templates"],
        "summary": "Add template",
        "description": "Add template",
        "operationId": "add_template",
        "security": [{ "AWSAuthenticator": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTemplateScheme" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TemplateScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/templates/{id}/": {
      "get": {
        "tags": ["Templates"],
        "summary": "Get template by id",
        "description": "Get template by id",
        "operationId": "get_template",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TemplateScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Templates"],
        "summary": "Update template by id",
        "description": "Update template by id",
        "operationId": "update_template",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTemplateScheme" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TemplateScheme" }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Templates"],
        "summary": "Delete template by id",
        "description": "Delete template by id",
        "operationId": "delete_template",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/utility-resources/": {
      "get": {
        "tags": ["Utility resources"],
        "summary": "Get a list utility resources",
        "description": "Get a list utility resources",
        "operationId": "get_consumption_groups",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Status" }],
              "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n ",
              "title": "Status"
            },
            "description": "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "text value for search by name",
              "title": "Text"
            },
            "description": "text value for search by name"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000,
              "title": "Per Page"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1, "title": "Page" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_ConsumptionGroupBaseScheme_"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Utility resources"],
        "summary": "Add utility resource",
        "description": "Add utility resource",
        "operationId": "create_consumption_groups",
        "security": [{ "AWSAuthenticator": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumptionGroupScheme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumptionGroupBaseScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/utility-resources/{id}/": {
      "get": {
        "tags": ["Utility resources"],
        "summary": "Get utility resource by id",
        "description": "Get utility resource by id",
        "operationId": "get_consumption_group",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumptionGroupBaseScheme"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommonError" }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Utility resources"],
        "summary": "Update utility resource by id",
        "description": "Update utility resource by id",
        "operationId": "update_consumption_group",
        "security": [{ "AWSAuthenticator": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "title": "Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumptionGroupScheme"
              }
            }
          }
        },
        "responses": {
[...]
