{
  "openapi": "3.1.0",
  "info": {
    "title": "Matomo API",
    "summary": "Matomo reporting API",
    "description": "Complete Matomo reporting API documentation",
    "version": "5.0.0"
  },
  "externalDocs": {
    "description": "Official Matomo doc",
    "url": "https://developer.matomo.org/api-reference/reporting-api"
  },
  "servers": [
    { "url": "https://demo.matomo.cloud/", "description": "Matomo demo server" }
  ],
  "paths": {
    "/index.php?method=API.get": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.get"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getMatomoVersion": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getMatomoVersion"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getPhpVersion": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getPhpVersion"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getIpFromHeader": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getIpFromHeader"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getSettings": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getSettings"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getSegmentsMetadata": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getSegmentsMetadata"],
                    "schema": { "type": "string" }
                  },
                  "idSites": {
                    "name": "idSites",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getMetadata": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getMetadata"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "apiModule": {
                    "name": "apiModule",
                    "in": "query",
                    "examples": ["VisitsSummary"],
                    "schema": { "type": "string" }
                  },
                  "apiAction": {
                    "name": "apiAction",
                    "in": "query",
                    "examples": ["get"],
                    "schema": { "type": "string" }
                  },
                  "apiParameters": {
                    "name": "apiParameters",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "language": {
                    "name": "language",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "hideMetricsDoc": {
                    "name": "hideMetricsDoc",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "showSubtableReports": {
                    "name": "showSubtableReports",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getReportMetadata": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getReportMetadata"],
                    "schema": { "type": "string" }
                  },
                  "idSites": {
                    "name": "idSites",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "hideMetricsDoc": {
                    "name": "hideMetricsDoc",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "showSubtableReports": {
                    "name": "showSubtableReports",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getProcessedReport": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getProcessedReport"],
                    "schema": { "type": "string" }
                  },
                  "idSites": {
                    "name": "idSites",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "apiModule": {
                    "name": "apiModule",
                    "in": "query",
                    "examples": ["VisitsSummary"],
                    "schema": { "type": "string" }
                  },
                  "apiAction": {
                    "name": "apiAction",
                    "in": "query",
                    "examples": ["get"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "apiParameters": {
                    "name": "apiParameters",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "idGoal": {
                    "name": "idGoal",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "language": {
                    "name": "language",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "showTimer": {
                    "name": "showTimer",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "hideMetricsDoc": {
                    "name": "hideMetricsDoc",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "showRawMetrics": {
                    "name": "showRawMetrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idDimension": {
                    "name": "idDimension",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getReportPagesMetadata": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getReportPagesMetadata"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getWidgetMetadata": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getWidgetMetadata"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getRowEvolution": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getRowEvolution"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "apiModule": {
                    "name": "apiModule",
                    "in": "query",
                    "examples": ["VisitsSummary"],
                    "schema": { "type": "string" }
                  },
                  "apiAction": {
                    "name": "apiAction",
                    "in": "query",
                    "examples": ["get"],
                    "schema": { "type": "string" }
                  },
                  "label": {
                    "name": "label",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "column": {
                    "name": "column",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "language": {
                    "name": "language",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "idGoal": {
                    "name": "idGoal",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "legendAppendMetric": {
                    "name": "legendAppendMetric",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "labelUseAbsoluteUrl": {
                    "name": "labelUseAbsoluteUrl",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "idDimension": {
                    "name": "idDimension",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "labelSeries": {
                    "name": "labelSeries",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "showGoalMetricsForGoal": {
                    "name": "showGoalMetricsForGoal",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getBulkRequest": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getBulkRequest"],
                    "schema": { "type": "string" }
                  },
                  "urls": {
                    "name": "urls",
                    "in": "query",
                    "examples": [
                      "https://website.com,https://website2.com,https://website3.com"
                    ],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.isPluginActivated": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.isPluginActivated"],
                    "schema": { "type": "string" }
                  },
                  "pluginName": {
                    "name": "pluginName",
                    "in": "query",
                    "examples": ["ExamplePlugin"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getSuggestedValuesForSegment": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getSuggestedValuesForSegment"],
                    "schema": { "type": "string" }
                  },
                  "segmentName": {
                    "name": "segmentName",
                    "in": "query",
                    "examples": ["Segment Name"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getPagesComparisonsDisabledFor": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getPagesComparisonsDisabledFor"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getGlossaryReports": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getGlossaryReports"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=API.getGlossaryMetrics": {
      "post": {
        "tags": ["API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["API.getGlossaryMetrics"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getMetricsOverview": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getMetricsOverview"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getMetricDetails": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getMetricDetails"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "successMetric": {
                    "name": "successMetric",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.addExperiment": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.addExperiment"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "name": {
                    "name": "name",
                    "in": "query",
                    "examples": ["Custom name"],
                    "schema": { "type": "string" }
                  },
                  "hypothesis": {
                    "name": "hypothesis",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "description": {
                    "name": "description",
                    "in": "query",
                    "examples": ["The description"],
                    "schema": { "type": "string" }
                  },
                  "variations": {
                    "name": "variations",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "includedTargets": {
                    "name": "includedTargets",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "successMetrics": {
                    "name": "successMetrics",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.updateExperiment": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.updateExperiment"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "name": {
                    "name": "name",
                    "in": "query",
                    "examples": ["Custom name"],
                    "schema": { "type": "string" }
                  },
                  "hypothesis": {
                    "name": "hypothesis",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "description": {
                    "name": "description",
                    "in": "query",
                    "examples": ["The description"],
                    "schema": { "type": "string" }
                  },
                  "variations": {
                    "name": "variations",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "confidenceThreshold": {
                    "name": "confidenceThreshold",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "mdeRelative": {
                    "name": "mdeRelative",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "percentageParticipants": {
                    "name": "percentageParticipants",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "successMetrics": {
                    "name": "successMetrics",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "includedTargets": {
                    "name": "includedTargets",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "excludedTargets": {
                    "name": "excludedTargets",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "startDate": {
                    "name": "startDate",
                    "in": "query",
                    "examples": ["2024-05-06"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.startExperiment": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.startExperiment"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.finishExperiment": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.finishExperiment"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.archiveExperiment": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.archiveExperiment"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getJsIncludeTemplate": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getJsIncludeTemplate"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getJsExperimentTemplate": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getJsExperimentTemplate"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getAllExperiments": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getAllExperiments"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getActiveExperiments": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getActiveExperiments"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getExperimentsByStatuses": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getExperimentsByStatuses"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "statuses": {
                    "name": "statuses",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getExperiment": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getExperiment"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.deleteExperiment": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.deleteExperiment"],
                    "schema": { "type": "string" }
                  },
                  "idExperiment": {
                    "name": "idExperiment",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getAvailableStatuses": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getAvailableStatuses"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getAvailableSuccessMetrics": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getAvailableSuccessMetrics"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getAvailableTargetAttributes": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getAvailableTargetAttributes"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=AbTesting.getExperimentsWithReports": {
      "post": {
        "tags": ["AbTesting"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["AbTesting.getExperimentsWithReports"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.get": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.get"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "columns": {
                    "name": "columns",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getPageUrls": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getPageUrls"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "depth": {
                    "name": "depth",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "string" }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getPageUrlsFollowingSiteSearch": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getPageUrlsFollowingSiteSearch"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getPageTitlesFollowingSiteSearch": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getPageTitlesFollowingSiteSearch"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getEntryPageUrls": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getEntryPageUrls"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getExitPageUrls": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getExitPageUrls"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getPageUrl": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getPageUrl"],
                    "schema": { "type": "string" }
                  },
                  "pageUrl": {
                    "name": "pageUrl",
                    "in": "query",
                    "examples": ["https://example.com/my-page"],
                    "schema": { "type": "url" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getPageTitles": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getPageTitles"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getEntryPageTitles": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getEntryPageTitles"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
                    "in": "query",
                    "examples": ["yesterday", "today", "last30", "2024-05-06"],
                    "schema": { "type": "string" }
                  },
                  "segment": {
                    "name": "segment",
                    "in": "query",
                    "examples": ["pageUrl===xxxxxxx"],
                    "schema": { "type": "string" }
                  },
                  "expanded": {
                    "name": "expanded",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "idSubtable": {
                    "name": "idSubtable",
                    "in": "query",
                    "examples": [],
                    "schema": { "type": "integer" }
                  },
                  "flat": {
                    "name": "flat",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  },
                  "format_metrics": {
                    "name": "format_metrics",
                    "in": "query",
                    "examples": ["0", "1"],
                    "schema": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index.php?method=Actions.getExitPageTitles": {
      "post": {
        "tags": ["Actions"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["module", "format", "method", "token_auth"],
                "properties": {
                  "module": {
                    "name": "module",
                    "in": "query",
                    "examples": ["API"],
                    "schema": { "type": "string" }
                  },
                  "format": {
                    "name": "format",
                    "in": "query",
                    "examples": [
                      "json",
                      "xml",
                      "csv",
                      "tsv",
                      "html",
                      "rss",
                      "original"
                    ],
                    "schema": { "type": "string" }
                  },
                  "method": {
                    "name": "method",
                    "in": "query",
                    "examples": ["Actions.getExitPageTitles"],
                    "schema": { "type": "string" }
                  },
                  "idSite": {
                    "name": "idSite",
                    "in": "query",
                    "examples": [1],
                    "schema": { "type": "integer" }
                  },
                  "period": {
                    "name": "period",
                    "in": "query",
                    "examples": ["day", "week", "month", "year", "range"],
                    "schema": { "type": "string" }
                  },
                  "date": {
                    "name": "date",
[...]
